.carrossel__titulo{

    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-decoration: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0 .5rem 0;

}
.swiper-slide img{
    width: 100%;

}
.swiper-button-prev,
.swiper-button-next{

    display: none !important;
}
.swiper-pagination{
    position: initial;
}
.card__descricao{
    margin-bottom: .5rem ;
}
.card__descricao, .card-botoes,.botoes{
    display: flex;
    justify-content: space-between;
}
.card{
    background: var(--branco);
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}
.descricao-titulo{
    color: var(--laranja);
    font-weight: 700;
}
.descricao-titulo-livro{

    color: var(--azul);
    font-weight: 700;
    font-size: 1.3rem;
    margin: .5rem 0;
}
.descricao-texto{
    font-size: 1rem;
}
.botoes-ancora{
    background-color: var(--laranja);
    padding: 1rem 2.7rem ;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;

}
@media screen and (min-width: 1024px){
    .swiper-button-prev,
    .swiper-button-next{
        display: block;
        top: 60%;
    }
    .swiper-pagination{

        margin: 2em 0 3em 0;
        /* position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); */
    }
    .swiper{
        width: 60%;
    }
    .card{
        width: 40%;
        margin: 2em auto;
    }
    .carrossel__titulo{
        font-size: 1.5rem;
        margin: 1em auto;
    }
}