.cabecalho{

    background-color: var(--branco); 
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.cabecalho__menu-hamburger{
    
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}
.container__img{

    padding: 1em;
    
}
.lista-menu__texto{
    display: none;
    position: absolute; /* Para poder movimentar livremente o elemento de acordo com uma porcetagem, isso vai fazer como que consigamos movimentar de acordo com o elemento pai */
    top: 100%;
    width: 60vw;
}


.container__botao:checked~.lista-menu__texto{
    /* Isto faz o menu sumir e aparecer ao verificar se algo esta selecionado ou não */
    display: block;
}
.container__botao{
    display: none;
}
.lista-menu__categorias, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__categorias{

    color: var(--laranja);
    font-weight: 800;


}
.lista-menu__link{

    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__titulo{
    display: none;
}
.opções{
    display: none;
}
@media screen and (min-width: 1024px){

    .cabecalho__menu-hamburger{
        display: none;
    }

    .container__titulo,
    .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo-negrito {
        font-weight: 700;
    }

    /* código omitido */

.opções {
    display: flex;
}

.opções__item {
        padding: 0 1em;
        text-transform: uppercase;
}
.opções__link {
        text-decoration: none;
        color: var(--preto);
}
.container__imagem-transparente{
    display: none;
}
.opção__botão:checked~.lista-menu__texto{
    display: block;
    width: auto;
}
.opção__botão{
    display: none;
}
    
}