/* Cascate Stylle Sheet */
/* Sobre unidades de medidas */
/* Existem as unidades de medidas absolutas que são px, ml, etc */
/* E existem unidades de medidas que são relativas como por exemplo   */
/* Entre as unidades relativas, temos o rem. 1 rem equivalem a 16px. */
/* A unidade de porcentagem tem a unidade relativa ao elemento pai */
@media screen and (max-width: 1200px){
    
    .apresentacao{
        flex-direction: 
        column-reverse;

        padding: 5%;

    }

    .apresentacao__texto{
        width: auto;
    }
    header{

        padding: 10%;
        
    }
    .nav-bar{
        justify-content: center;
    }

}
:root{

    --color-primary: #22D4FD;
    --color-secundary: #040422;
    --color-tertiary: #f6f6f6;
    --color-hover: #272727
}
body{
    height: 100vh; /*Esse vh é referente a altura da viewport, a viewport é a porção de área visível de um plano e é utilizada como unidade de medida no CSS para criar páginas Web 100% responsivas.*/
    box-sizing: border-box;
    background-color: var(--color-secundary
    );
    font-family: Arial, sans-serif;
   
} 
header{

    padding: 2% 0 0 15%;

}

.nav-bar{
    display: flex;
    gap: 80px;
}
.nav-bar a {

    font-family: 'Monteserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--color-primary);
    text-decoration: none;


}
.apresentacao{
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem
    ;
}
.apresentacao__texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /*serve para dar um espaço entre os elementos */
}

main h1{
    color: var(--color-tertiary);
    font-size: 2.5rem;

    font-family: 'Krona One', sans-serif;
}
.Destaque {
    color: var(--color-primary);
}
main p{
    color: var(--color-tertiary);
    font-size: 1.5rem;

    font-family: 'Monteserrat', sans-serif;
}
.butons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
}
.butons h2{
    color: var(--color-tertiary);
    font-size: 1.5rem;

    font-family: 'Krona One', sans-serif;
}
.buton__link{


    /* background-color: #22D4FD ; */
    color: var(--color-tertiary);
    width: 50%;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--color-primary); ;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 21.5px 0;

    display: flex;

    align-items: center;
    justify-content: space-evenly;


}
.buton__link img{
    width: 30px;
    height: 30px;
}
.buton__link:hover {
    background-color: var(--color-hover);
}
main img{
    width: 50%;
    height: 400;
}
footer{
    /* margin: 28px; */
    padding: 28px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Monteserrat',sans-serif;
    background-color: var(--color-primary);

}